.App {
  text-align: center;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .player-app {
  background-color: blanchedalmond;
} */

.player-card {
  display: flex;
  justify-content: space-evenly;
  border: 1px dashed azure;
  text-align: center;
  max-width: 33%;
  margin: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
