.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 120px;
}

.toggle {
  background: #f68819;
  border-radius: 50px;
  height: 18px;
  left: 2px;
  position: absolute;
  transition: 0.2s;
  width: 100px;
}

.toggled {
  left: 18px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

.playerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
