* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 1.5;
  color: #2b3c4e;
  background: #709ae9
}

.App {
  text-align: center;
  }

h1 {
  font-size: 3.6rem;
  color: #720606;
  margin: 0 auto;
  padding: 20px;
}

input,
text {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 12px;
  padding: 10px;
  font-size: 16px;
  width: 25%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

select {
  padding: 10px;
  margin: 0 auto;
  margin-left: 20px;
  border-radius: 5px;
  width: 15%;


}