.App {
  text-align: center;
}

.player-cards {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.player-card {
  background-color: dodgerblue;
  margin: 1% 20%;
  border: 1px solid black;
}