
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
nav h1{
  color:gray;
}
.navbar {
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  height: 70px;
  justify-content: space-around;
  padding: 0 3%;
  width: 100%;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.dark-mode__toggle {
  background: white;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background:gray;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}
.dark-mode {
  color: #fff;
  background-color: #313843;
}
.dark-mode p, h1 {
  color:white;
}
.card{
  border:1px solid gray;
  width:20%;
  margin: 10px;
}
.playersCardBox{
  display:flex;
  flex-direction: row;
  width:100%;
  flex-wrap: wrap;
  justify-content:center;
}
.mainPlayersConatiner{
  display:flex;
  flex-direction: column;
  text-align: center;
  
}




