.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.Card {
  background: 2px solid yellow;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.navbar {
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  /* display: flex; */
  height: 70px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: whitesmoke;
  border-radius: 50px;
  height: 18px;
  right: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
  cursor:pointer;
}

.toggled {
  right: 18px;
}

.dark-mode {
  color: black;
  background-color: #313843;
}

.navbar {
  background-color: rgb(52, 159, 221);
  border: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
