.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  border-bottom: 2px solid #ffffff;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 1.2%;
  margin-bottom: 50px;
}

.navbar2 {
  border-bottom: 2px solid #b1b1b1;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}