.App {
  text-align: center;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 30vh;
  justify-content: center;
  align-items: center;
  border: 1px dotted darkturquoise;
}

.dark-mark__toggle {
  border-radius: 50px;
  border: 1px solid black;
}

.toggle {
  background: orangered;
  border-radius: 50px;
}