.App{
  text-align: center;
  margin: 40px auto;
}

.dark-mode{
  color:white!important;
  background-color: #313843!important;
}
.dark-mode div.MuiPaper-root.MuiPaper-elevation1.makeStyles-paper-32.MuiPaper-rounded{
  color:white!important;
  background-color: #313843!important;
}
div.MuiPaper-root.MuiPaper-elevation1.makeStyles-paper-32.MuiPaper-rounded{
  border: 1px solid #F62D6E!important;
}
.dark-mode .MuiTypography-root.MuiTypography-h1.MuiTypography-colorPrimary{
  color: white!important;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary{
  margin: 20px 0!important;
} 