body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 1em;
}

.dark-mode {
  color: rgb(187, 184, 184);
  background-color: #2a2c2e;
}

.dark-mode__toggle {
  margin-left: 15px;
  margin-top: 20px;
  background: rgb(59, 90, 226);
  border-radius: 5px;
  border: 1px solid rgb(18, 39, 85);
  height: 20px;
  position: relative;
  width: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.toggle {
  background: #a1bbf1;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.toggled {
  left: 60px;
}

.CardBox {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10%;
  margin-top: 0%;
}

.PlayerCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10%;
  margin-left: 5%;
  margin-top: 0%;
}

.PlayerFill {
  background-color: rgba(245, 245, 245, 0.438);
  width: 15%;
  height: 4%;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  margin: 2%;
  box-shadow: -4px 4px 8px 2px rgb(34, 34, 34);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}