  .navbar {
    align-items: center;
    border-bottom: 1px solid blue;
    display: flex;
    height: 70px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 50px;
}

.player-div {
    margin: 0 50px;
}

.player-cards {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    
}

.player-card {
    padding: 5px;
}

.background-shift {
    background-color: lightcoral;
}