.playersContainer{
	text-align: center;

	.playerRow{
		display: flex;
		flex-wrap: wrap;

		div{
			border: 1px grey solid;
			width: 22%;
			margin: 10px auto;

		}//div
	}//playerRow
}//playersContainer